/client/FourFun/*.iml
/client/FourFun/.gradle
/client/FourFun/local.properties
/client/FourFun/.idea/workspace.xml
/client/FourFun/.idea/libraries
/client/FourFun/.DS_Store
/client/FourFun/build
/client/FourFun/captures
/client/FourFun/.externalNativeBuild
/server/4FunServer/build
/server/4FunServer/*.class
/server/4FunServer/.settings
/server/4FunServer/.project
/server/4FunServer/.classpath